@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root, [data-theme="light"] {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --primary: 221.2 83.2% 53.3%;
        --muted: 240 4.8% 95.9%;
        --border: 240 5.9% 90%;
    }

    [data-theme="dark"] {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;
        --primary: 217.2 91.2% 59.8%;
        --muted: 240 3.7% 15.9%;
        --border: 240 3.7% 15.9%;
    }

    [data-theme="ocean"] {
        --background: 220 40% 15%;
        --foreground: 210 20% 98%;
        --primary: 199 89% 48%;
        --muted: 220 30% 20%;
        --border: 220 20% 25%;
    }
}