# ==========================================
# === Web Client Configuration ===
# ==========================================
CLIENT_PORT=3000

# ==========================================
# === API Connection Configuration ===
# ==========================================
VITE_API_URL=http://localhost:5000/api